<div class="body-header">
    <div>
        <img src="../../../assets/img/Screenshot_1.png"
             width="60%">
    </div>
    <div class="menu">
        <span>Dashboards</span>
        <span>Projects</span>
        <span>Issues</span>
        <span>Boards</span>
        <button mat-flat-button
                (click)="openDialog()">Create</button>
    </div>
    <div class="search-from">

        <mat-form-field>
            <input matInput
                   placeholder="Search">
        </mat-form-field>

    </div>
</div>